@model RentBoat.WebSite.Areas.Customer.Models.ReturnBoatViewModel

@{
    ViewBag.Title = "ReturnBoat";
}

<h2>ReturnBoat</h2>

<div>
    <h4>ReturnBoatViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
